
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

    <section id="hero" class="hero d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-4">
                    <h2 data-aos="fade-up">Gerçek Çözüm Ortağınız</h2>
                    <blockquote data-aos="fade-up" data-aos-delay="100">
                        <p style="font-size:18px">Osmanlı Makina olarak alnında deneyimli ve yüksek makine teknolojisi ile anahtar teslim un, irmik, yem fabrikalarında her zaman yanınızdayız.</p>
                    </blockquote>
                    <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    </div>

                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <main id="main">

        <section id="recent-posts" class="recent-posts">
            <div class="container" data-aos="fade-up">

                <div class="section-header">
                    <h2>Ekipmanlar</h2>

                </div>

                <div class="row gy-5">

                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="post-box">
                            <div class="post-img"><img src="~/img/blog/cleaning.png" class="img-fluid" alt=""></div>

                            <h3 class="post-title">Temizleme Bölümü</h3>

                        <a href="/ekipmanlar" class="readmore stretched-link"><span>Ekipmanları Gör</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="post-box">
                            <div class="post-img"><img src="~/img/blog/ogutme.jpg" class="img-fluid" alt=""></div>

                            <h3 class="post-title">Öğütme Bölümü</h3>
                            <a href="/ekipmanlar" class="readmore stretched-link"><span>Ekipmanları Gör</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>

                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="post-box">
                            <div class="post-img"><img src="~/img/blog/transportation.jpg" class="img-fluid" alt=""></div>

                            <h3 class="post-title">Taşıma Bölümü</h3>
                        <a href="/ekipmanlar" class="readmore stretched-link"><span>Ekipmanları Gör</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="post-box">
                            <div class="post-img"><img src="~/img/blog/download.jpg" class="img-fluid" alt=""></div>

                            <h3 class="post-title">Paketleme Bölümü</h3>
                        <a href=/ekipmanlar" class="readmore stretched-link"><span>Ekipmanları Gör</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="post-box">
                            <div class="post-img"><img src="~/img/blog/storage.jpg" class="img-fluid" alt=""></div>

                            <h3 class="post-title">Depolama Bölümü</h3>
                        <a href="/ekipmanlar" class="readmore stretched-link"><span>Ekipmanları Gör</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="post-box">
                            <div class="post-img"><img src="~/img/blog/yem.jpg" class="img-fluid" alt=""></div>

                            <h3 class="post-title">Yem Bölümü</h3>
                        <a href="/ekipmanlar" class="readmore stretched-link"><span>Ekipmanları Gör</span><i class="bi bi-arrow-right"></i></a>
                        </div>
                    </div>


                </div>

            </div>
        </section><!-- End Recent Blog Posts Section -->

    </main>

